@import "~styles/mixins";
@import "~styles/variables";
@import '~foundation-sites/scss/foundation';

.Pokemons-list {
  .Pokemon-row {
    @include row();
    $avatar-size: 100px;
    position: relative;
    height: $avatar-size + 30px;
    border-bottom: 1px solid #eef;
    $left: $avatar-size + 5px;
    padding: 8px 0;

    &:last-child {
      border-bottom: none;
    }

    &__avatar {
      position: absolute;
      width: $avatar-size;
      height: $avatar-size;
      top: 14px;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-color: #f2f2f2;
      border-radius: 5px;
    }

    &__content {
      left: $left + 7px;
      position: relative;
    }

    &__title {
      line-height: 1.05em;
    }

    &__name {
      color: darken($main-color, 10);
      font-weight: 700;
    }

    &__main-attributes {
      font-size: .9em;
    }

    &__other-attributes {
      position: absolute;
      left: 10px;
      font-size: .75em;
      top: 35px;
      line-height: .6em;
      border-left: 2px solid #eee;
      padding-left: 7px;
      padding-top: 4px;
    }

    &__size-attributes {
      position: absolute;
      font-size: .7em;
      bottom: 15px;
      left: 20px;
      color: #666;
    }

    &__types {
      position: absolute;
      bottom: 0;
      left: 5px;
      color: #aaa;
      font-size: .9em;
    }
  }

  .PageSizeSelecter {
    @include col(3, 6);
    @include colOff(9, 6);

    &__title {
      color: #555;
    }
  }

  .Paginator {
    text-align: center;
    padding: 10px 0;

    li {
      list-style-type: none;
      display: inline;
      margin: 0 10px;
      cursor: pointer;
    }

    &__active {
      border-bottom: 1px solid #aaa;
    }
  }
}
