$main-color: #208ef0;

$text-color: #444;
$titles-color: #334;
$link-color: #4d84c3;

$button-background: darken($main-color, 5);
$button-background-hover: darken($button-background, 5);

// navbar
$navbar-background: lighten($main-color, 7);
$navbar-height: 60px;
